@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');
//font-family: 'Noto Sans Display', sans-serif;

* {
    display: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: #000000b7;
}

a:hover {
    color: #ffffff;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, #00e178, #00bee1);
    min-height: 100vh;
    font-family: 'Noto Sans Display', sans-serif;
}

.header {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 80vw;
    margin-top: 3em;
    margin-bottom: 1em;
    border-bottom: 1px solid #ffffff;
}

main {
    padding-top: 8em;
}

.skills {
    display: flex;
    flex-direction: rows;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    text-align: center;
}

.skill {
    margin: 8px;
    padding: 8px;
    color: #000000;
    background-color: #ffffff2f;
    border: 1px solid #00000060;
    border-radius: 12px;
    font-family: sans-serif;
}

.skill-logo {
    max-width: 64px;
    object-fit: contain;
}

.nav-link {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 18px;
    color: #ffffff;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    text-align: center;
}

.project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 12px;
    background-color: #ffffff80;
    border: 2px solid #00e178;
    border-radius: 12px;
    font-family: sans-serif;
    max-width: 70vw;
    min-height: 30vw;
    padding: 12px;
}

.proj-content {
    display: flex;
    flex-direction: row;
    text-align: justify;
}

.proj-img {
    max-width: 95%;
    object-fit: contain;
    border-radius: 12px;
}

.proj-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}